{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        {{ form_row(form.imageFile) }}

    {{ form_end(form) }}

    <a href="{{ path(indexPath) }}">Volver a la lista</a>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}