{% extends 'base.html.twig' %}

{% block body %}
<h1>Lista de Productos</h1>

{% if products is empty %}
    <p>No hay productos disponibles.</p>
{% else %}
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price|format_currency('EUR') }}</td>
                    <td>
                        {# <a href="{{ path('app_product_show', {'id': product.id}) }}">Ver</a>
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}">Editar</a>
                        <a href="{{ path('app_product_delete', {'id': product.id}) }}">Borrar</a> #}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<a href="{{ path('create_product') }}" class="btn btn-primary">Añadir Producto</a>
{% endblock %}