{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Listado</h1>

        {% if entities is empty %}
            <p class="text-center">Esto está vacío.</p>
        {% else %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr class="table-dark">
                            {% for field in fields %}
                                <th class="text-center">{{ field.label }}</th>
                            {% endfor %}
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                {% for field in fields %}
                                    <td class="text-center align-middle">{{ attribute(entity, field.name) }}</td>
                                {% endfor %}
                                <td class="text-center align-middle">
                                    <div class="d-flex justify-content-center">
                                        <a href="{{ path(route_prefix ~ '_show', {'id': entity.id}) }}" class="btn btn-primary btn-sm mx-1">Ver</a>
                                        <a href="{{ path(route_prefix ~ '_edit', {'id': entity.id}) }}" class="btn btn-warning btn-sm mx-1">Editar</a>
                                        <form method="post" action="{{ path(route_prefix ~ '_delete', {'id': entity.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este {{ entity_name }}?');" class="d-inline mx-1"> {# Margen horizontal en el form #}
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
                                            <button class="btn btn-danger btn-sm">Borrar</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        <div class="d-flex justify-content-center mt-3 mb-4">
            <a href="{{ path(route_prefix ~ '_new') }}" class="btn btn-primary">Añadir {{ entity_name }}</a>
        </div>
    </div>
{% endblock %}