{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Listado</h1>

    {% if machines is empty %}
        <p class="text-center">No hay m치quinas registradas.</p>
    {% else %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">ID</th>
                        <th scope="col">Ubicaci칩n</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Estado</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for machine in machines %}
                        <tr>
                            <td>{{ machine.id }}</td>
                            <td>{{ machine.location }}</td>
                            <td>{{ machine.model }}</td>
                            <td>{{ machine.status.value }}</td>
                            <td class="text-center align-middle">
                                <div class="d-flex justify-content-center">
                                    <a href="{{ path('app_machine__edit', {'id': machine.id}) }}" class="btn btn-primary btn-sm mx-1">Editar</a>
                                    <a href="{{ path('app_machine__delete', {'id': machine.id}) }}" class="btn btn-danger btn-sm mx-1">Borrar</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <div class="d-flex justify-content-center mt-3 mb-4">
        <a href="{{ path('app_machine__new') }}" class="btn btn-primary">A침adir M치quina</a>
    </div>
</div>
{% endblock %}